@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  font-family: 'Poppins';
}

@import '../styles/sass/header';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 70px;

  padding: 20px;
  margin: 10px auto;

  background: rgba(188, 188, 188, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18.5px);
  -webkit-backdrop-filter: blur(18.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

main {
  width: 90%;
  height: 100vh;
  padding: 20px;
  margin: 0 auto;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

@import 'sass/form';
@import 'sass/table';
@import 'sass/response';
